<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Golf in Argentina</title>
    <link rel="icon" href="../../static/golfArgentina/images/golf-ball.png">
    <link href="../../static/golfArgentina/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/golfArgentina/css/golf.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark px-4 py-3">
        <div class="nav-item d-lg-none">
          <a class="nav-link" href="{% url 'index' %}"><img src="../../static/golfArgentina/images/golf_ball3.png" style="width:40px"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <div class="nav-item d-none d-lg-block">
              <a class="nav-link" href="{% url 'index' %}"><img src="../../static/golfArgentina/images/golf_ball3.png" style="width:40px"></a>
            </div>
            <ul class="navbar-nav mb-3 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="">About us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="">When to go</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Destinations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Golf</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="">Argentine Flavor</a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li class="nav-item d-none d-lg-block">
                <a class="nav-link" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
              </li>
              <li class="nav-item d-none d-lg-block">
                <a class="nav-link" href=""><i class="fa-solid fa-phone"></i></a>
              </li>
              <li class="nav-item d-none d-lg-block">
                  <a class="nav-link" href="mailto:Carolina.Muchnik1@gmail.com"><i class="fa-solid fa-envelope"></i></a>
              </li>
              <li class="nav-item d-none d-lg-block">
                <a class="nav-link" href="">ES</a>
              </li>
            </ul>
          </div>
      </nav>
    </div>

    {% block body %}
    {% endblock %}
    <div class="container-fluid bg-dark text-white-50 px-4 py-5">
      <footer class="d-flex flex-wrap justify-content-between">
        <div class="p-2">
          <div class="nav-item mb-3">
            <a class="nav-link" href="{% url 'index' %}"><img src="../../static/golfArgentina/images/golf_ball3.png" style="width:40px"></a>
          </div>
          <p class="mb-3 mb-md-0 nav-text">&copy; 2023 Golf Argentina by WOW Viajes y Turismo</p>
          <hr>
          <p class="mb-3 mb-md-0 nav-text">Legajo 17.215 - Disp. 412/18</p>
          <p class="mb-3 mb-md-0 nav-text">Address: Córdoba 1111</p>
          <p class="mb-3 mb-md-0 nav-text">Phone: (0054) 911 4143-2127</p>
          <p class="mb-3 mb-md-0 nav-text">Email: Carolina.Muchnik1@gmail.com</p>
        </div>
        <div class="ms-auto p-2">
          <p class="ms-3"><a class="nav-link" target="_blank" href="https://www.linkedin.com/in/diana-capellino-8865b4128/"><i class="fa-brands fa-linkedin fa-lg" width="24" height="24"></i><b class="mx-3">LinkeIn</b></a></p>
          <p class="ms-3"><a class="nav-link" target="_blank" href="https://www.linkedin.com/in/diana-capellino-8865b4128/"><i class="fa-brands fa-facebook fa-lg" width="24" height="24"></i><b class="mx-3">Facebook</b></a></p>
          <p class="ms-3"><a class="nav-link" target="_blank" href="https://www.linkedin.com/in/diana-capellino-8865b4128/"><i class="fa-brands fa-whatsapp fa-lg" width="24" height="24"></i><b class="mx-3">WhatsApp</b></a></p>
          <p class="ms-3"><a class="nav-link" target="_blank" href="https://www.instagram.com/diana.capellino/"><i class="fa-brands fa-instagram fa-lg" width="24" height="24"></i><b class="mx-3">Instagram</b></a></p>
        </div>
      </footer>
    </div>
    <script src="../../static/golfArgentina/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/golfArgentina/js/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6f082d5aab.js" crossorigin="anonymous"></script>
  </body>      
</html>